body{
    background-color: skyblue;
    color: black;
}
.titulo{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;     
    color: blueviolet;
    text-align: center;
}
#bienvenido{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    background-color: rgba(105, 105, 105, 0.664);
    color: orange;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 25px black;
}
.encabezado{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    list-style-type: none;
}
.formContainer{
    font-weight: 400;
    font-style: normal;           
    background-color: honeydew;
    color: black;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    max-width: 912px;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
}
body {
    background-image: url(https://images.unsplash.com/photo-1700986023538-f1fa7be2bc99?q=80&w=1581&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="number"], select, textarea{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid slategrey;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 16px;
}
textarea{
    color: black;
}